.navbar {
    height: 6.5rem;
    position: absolute;
    background-color: transparent;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
    margin-top: 1rem;
}

.navbar--logo {
    height: 70px;
    cursor: pointer;
}

.navbar--container ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.navbar--container ul li {
    display: inline;
}

.navbar--container ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; /* Плавний перехід кольору тексту */
    position: relative;
}

.navbar--container ul li a:hover {
    color: #3fc337cc; /* Текст стає чорним при наведенні */
}

.navbar--container ul li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--primary), var(--secondary)); /* Градієнтна лінія */
    transform: scaleX(0);
    transition: transform 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navbar--container ul li a:hover::after {
    transform: scaleX(1); /* Нижня лінія з'являється при наведенні */
}

@media (max-width: 767px) {
    .navbar--container ul {
        display: none; /* Приховуємо горизонтальне меню */
    }
    .navbar .navMenu {
        display: block; /* Показуємо іконку бургер-меню */
    }
}

.navbar .navMenu {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    display: none; /* Приховуємо на великих екранах */
    transition: color 0.3s ease;
}

.navbar .navMenu:hover {
    color: var(--primary);
}

@media (max-width: 767px) {
    .navbar .navMenu {
        display: block; /* Показуємо на маленьких екранах */
    }
}
